<div class="halfColumn" style="margin-right: 10px">
	<h3>Contact and Location</h3><br />
	<b>Email:</b> <a href="mailto:{{site.email}}">{{ site.email }}</a><br />
	<b>Phone:</b> {{ site.phone_number }} <br />
	<b>Address:</b> {{ site.address }} <br />
	<i>North East corner of Beaver and Fine St. with plenty of client parking!</i><br />
	<b>Hours: By Appointment Only</b> <br />
	Monday-Friday 9:00 AM - 5:00 PM<br />
	Saturday Closed - Special Event only<br />
	Sunday Closed <br />
</div>

<div class="halfColumn">
<h3>Map</h3>
<iframe style="border-radius: 10px" "height: 510px; width: 350px;" src="http://www.mapquest.com/embed?hk=1eBc9av" marginwidth="0" marginheight="0" frameborder="0" scrolling="no"></iframe>
</div>
<div style="clear:both"></div>
