<div class="halfColumn" style="margin-right: 10px">
	<h3>Susan Bolyen</h3><br />
	<b>Email:</b> <a href="mailto:susanspedispa@gmail.com">susanspedispa@gmail.com</a><br />
	<b>Phone:</b> (928) 362-0525 <br />
	<b>Address:</b> 322 N. Beaver St., Flagstaff, AZ 86001<br />
	<i>Client parking in the back off of E. Dale.</i>
</div>

<div class="halfColumn">
<h3>Map</h3>

	<iframe style="border-radius: 10px" width="350" height="310" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.mapquest.com/embed?icid=mqdist_mb_tools&c=IB2z&maptype=map&zm=15&cr=35.20072755154141,-111.64866510185243&projection=sm&showScale=false"></iframe>
</div>
<div style="clear:both"></div>
