<p>At Susan’s Pedi Spa we use some of the most exotic ingredients from throughout the world in our specialty pedicures. </p>
<h3 style='text-align:center;'> Valentine's Day Special</h3>
<iframe height="262" width="100%" src="//susanspedispa.fullslate.com/go/257/Day-Spa-Specials?view=bare" style="border: solid 1px #999999; background-color: transparent;" frameborder="0" allowtransparency="true"><a title="Online scheduling" href="http://susanspedispa.fullslate.com/go/257/Day-Spa-Specials?view=bare">Schedule appointment</a></iframe>
