
<h2>Manicures</h2><br>
<b>Standard Mani</b> $25.00<br>
Shape nails, soak, cuticles, massage and polish.<br><br> 
<b>Men’s Manicure<br> $25.00<br>
Trim and shape nails, soak, cuticles, hand massage and matte polish or shine buff.<br><br>
<b>Spa Manicure</b>  $35.00<br>
Shape nails, soak, cuticles, scrub, mask or paraffin dip, massage and polish.<br><br>
<b>Shellac / Gel Manicure</b>  $40.00<br>
Free polish removal, shape nails, cuticles, massage, polish and then end your treatment with a soothing warm paraffin dip.<br><br> 
<b>Weak Nail Gel Treatment</b> $40.00<br> 
with Polish  $45.00 / with Shellac  $50.00<br>
Give your weak, thin, pealing nails some strength and protection. This treatment is stronger than a shellac or gel polish. This is a 2-3 week treatment that soaks off in minutes without damaging your nails! This treatment ends with a moisturizing paraffin treatment and massage.
