<h1>Manicures</h1><br>
<span class="treatmentName">Mini Mani</span>  $20.00<br>
Shape nails, push back cuticles only and polish. <br>
<span class="treatmentName"><b>Standard Mani</b></span> $25.00<br>
Shape nails, soak, cuticles, massage and polish.<br><br> 
<span class="treatmentName"><b>Men’s Manicure</b></span> $25.00<br>
Trim and shape nails, soak, cuticles, hand massage and matte polish or shine buff.<br><br>
<span class="treatmentName"><b>Spa Manicure</b></span>  $35.00<br>
Shape nails, soak, cuticles, scrub, mask or paraffin dip, massage and polish.<br><br>
<span class="treatmentName"><b>Shellac / Gel Manicure</b></span>  $40.00<br>
Free polish removal, shape nails, cuticles, massage, polish and then end your treatment with a soothing warm paraffin dip.<br><br> 
<span class="treatmentName"><b>Weak Nail Gel Treatment</b></span> $40.00<br> 
with Polish  $45.00 / with Shellac  $50.00<br>
Give your weak, thin, pealing nails some strength and protection. This treatment is stronger than a shellac or gel polish. This is a 2-3 week treatment that soaks off in minutes without damaging your nails! This treatment ends with a moisturizing paraffin treatment and massage.<p>
  
<h1>Pedicures</h1> <br>
<span class="treatmentName">Quick Pedi</span>  $30.00
Soak, trim and shape nails, cuticle clean up, lotion and polish.
<span class="treatmentName">Standard Pedicure </span>$40.00<br>Soak, trim and shape nails, cuticle clean up, callus smoothing, massage and polish.
<span class="treatmentName">Spa Pedicure</span>  $50.00
Relaxing soak, trim and shape nails, cuticle clean up, callus smoothing, refreshing house flavored scrub and mask or moisturizing paraffin treatment, massage and polish.

</p>
