<p>Please note that if you have heavy calluses, ingrown toe nails or other issues that you would like addressed during your appointment, there may be extra fees for those services. There may also be time constraints as well, so I may be forced to shorten your massage at the end. If you suffer from some of the issues above you might consider a clinical pedicure.</p>

<h3>Signature Pedicures</h3>


<div class="treatment">
<span class="treatmentName">Citrus-Honey Smoother</span><span class="treatmentPrice">$55.00 </span> 
<div class="treatmentDescription">A revitalizing treatment with the richness of honey and the exfoliating benefits of citrus extracts which function as natural alpha hydroxyl acids, leaving your skin soft, supple and amazingly moisturized.</div>
</div>

<div class="treatment">
<span class="treatmentName">The Chocoholic Pedi</span><span class="treatmentPrice">$65.00 </span>  
<div class="treatmentDescription">HPamper the inner-chocoholic with prime-pressed cocoa butter, French cocoa absolute, chocolate extract, organic cocoa powder and pure Dagoba chocolate. Treatment includes; standard pedicure plus, smoothing scrub, luxurious mask and a relaxing massage.   </div>
</div>

<div class="treatment">
<span class="treatmentName">Dead Sea Arabian Renewal</span><span class="treatmentPrice">$75.00</span> 
<div class="treatmentDescription">This luxurious treatment which combines a wealth of indigenous Arabian ingredients: pomegranate oil, crushed dates, rose water, yogurt, sweet figs with pure Dead Sea Salts and Mud to relieve muscle tension, deeply detoxify the skin saturating it with potent antioxidants. </div>

<h3>Clinical Pedicures </h3>

<div class="treatment">
<span class="treatmentName">Clinical Pedicure Initial Evaluation</span> <span class="treatmentPrice">$85.00</span> 
<div class="treatmentDescription">First time evaluation of feet (new or current client), full history, photos, recognize and correct as many issues as time permits, recommend treatment options. Plus 25% discount given on Footlogix products purchased at time of check out, to assist you in  clearing up your condition. (2hrs) </div>

</div>
<div class="treatment">
<span class="treatmentName">Clinical Pedicure - Return Client</span> <span class="treatmentPrice">$60.00</span> 
<div class="treatmentDescription"> This is a return visit where we perform a full pedicure, discuss how the current treatment measures have worked for you, add if there are any new issues to address. If we have discussed adding a B/S Brace please schedule a second appt just after this one so we have enough time or email me a note so that I can be sure we have the time needed. </div>
	
	
</div>
<div class="treatment">
<span class="treatmentName">Diabetic Pedicure - Return Client</span> <span class="treatmentPrice">$45.00</span> 
<div class="treatmentDescription">As a Certified Master Pedicurist I have been specially trained in the proper care of diabetic feet. This pedicure is designed for my diabetic clients and uses only footlogix products which are formulated safe for diabetics.</div>
</div>

<div class="treatment">
<span class="treatmentName">BS Brace</span> <span class="treatmentPrice">$25.00</span> 
<div class="treatmentDescription">Correction for ingrown toenail or involuted nail. This service must be scheduled by CMP Susan Bolyen for the client after a clinical evaluation.</div>
</div>

<div class="treatment">
<span class="treatmentName">Diabetic Nail Trim</span> <span class="treatmentPrice">$10.00</span> 
<div class="treatmentDescription">This service is for my diabetic clients who have been through my clinical pedicure and has diabetic pedicures every 2-3 months and has no outstanding issues, that we are working to resolve. </div>

</div>

<div class="halfColumn">
	<h3>Basic Manicures</h3>
	<div class="treatment">
	<span class="treatmentName">Mini Mani</span><span class="treatmentPrice"> $22.00</span> 
	<div class="treatmentDescription">Shape nails, push back cuticles only and polish. </div>
	</div>
	<div class="treatment">
	<span class="treatmentName">Standard Mani</span><span class="treatmentPrice"> $27.00</span> 
	<div class="treatmentDescription">Shape nails, soak, cuticles, massage and polish.</div>
	</div>
	<div class="treatment">
	<span class="treatmentName">Men’s Manicure</span><span class="treatmentPrice">$27.00</span> 
	<div class="treatmentDescription">Trim and shape nails, soak, cuticles, hand massage and matte polish or shine buff.</div>
	</div>
	<div class="treatment">
	<span class="treatmentName">Spa Manicure</span><span class="treatmentPrice"> $37.00</span> 
	<div class="treatmentDescription">Shape nails, soak, cuticles, scrub, and paraffin dip, massage and polish.</div>
	</div>
	<div class="treatment">
	<span class="treatmentName">CND Shellac Manicure</span><span class="treatmentPrice">  $36.00</span> 
	<div class="treatmentDescription">Free Shellac removal (other gels may cost extra to remove), shape nails, cuticles, polish and massage.</div>
	</div>
	<div class="treatment">
	<span class="treatmentName">Smoothing Gel Treatment</span><span class="treatmentPrice"> $45.00</span> 
	<div class="treatmentDescription">Give your weak, thin nails some strength and protection. This treatment is stronger than a Shellac polish. This is a 2-3 week soft treatment that soaks off in minutes without damaging your nails!</div>
	<h3>Manicure Add-ons</h3>
	<div class="treatment">
	<span class="treatmentName">Gel Polish Soak Off</span> <span class="treatmentPrice">$15.00</span> 
	<div class="treatmentDescription">Gel polish can often be very time consuming and requires extra time for removal.</div>
	</div>
		
	</div>
</div>
<div class="halfColumn" style="margin-left: 10px;">
	<h3>Basic Pedicures</h3> 
	<div class="treatment">
	<span class="treatmentName">Standard Pedicure </span><span class="treatmentPrice">$40.00</span> 
	<div class="treatmentDescription">Soak, trim and shape nails, cuticle clean up, callus smoothing, massage and polish.</div>

	</div>
	<div class="treatment">
	<span class="treatmentName">Shellac Pedicure</span><span class="treatmentPrice">$55.00 </span>
	<div class="treatmentDescription">A dry pedicure done with hot towels and light callus smoothing. This treatment is finished off with a massage and a luxurious hot paraffin dip to deeply moisturize and sooth your feet. Walk out the door with warm, dry toes during these cold winter months. </div>
		
	</div>
	<h3>Pedicure Add-ons</h3>
	<div class="treatment">
	<span class="treatmentName">Fruit & Crème Soak</span> <span class="treatmentPrice">$5.00</span> 
	<div class="treatmentDescription">Add this little luxury to any basic pedicure service. Our fruit and crème soak is studded with real fruit, enriched mango butter chips and powdered silk to fortify the water with skin softening natural antioxidants.</div>
	</div>
	<div class="treatment">
	<span class="treatmentName">Heavy Callus Removal</span> <span class="treatmentPrice">$10.00</span> 
	<div class="treatmentDescription">Callus smoothing is included in most of our pedicures, however sometimes we all need a little more than just “smoothing.” </div>
	</div>
	<div class="treatment">
	<span class="treatmentName">Seed Corn Removal</span> <span class="treatmentPrice"></span> 
	<div class="treatmentDescription">Careful removal of the small seed corns found at the bottom of the feet due to slipping and friction from shoes. </div>
	</div>
</div>
<div style="clear:both"></div>


