<a href="/">Home</a>
<a href="/book"><strong>Book Now</strong></a>
<a href="/menu/pedicures">Pedicures</a>
<a href="/menu/manicures">Manicures</a>
<a href="/menu/hair">Hair</a>
<a href="/menu/gifts">Gifts</a>
<a href="/reviews">Reviews</a>
<a href="/about">About</a>

<div id="social">
	<a href="https://www.facebook.com/susanspedispa" target="_blank"><img src="/assets/images/fb.png" alt="Find us on Facebook!" /></a>
	<a href="https://plus.google.com/113931798493744965060" target="_blank"><img src="/assets/images/gp.png" alt="Find us on Google Plus!" /></a>
</div>
