<a href="/">Home</a>
				<a href="/menu">Menu / Schedule Now</a>
				<a href="/contact">Contact</a>
				<a href="/reviews">Reviews</a>
				<a href="/about">About</a>
				<a href="https://www.thegiftcardcafe.com/cart/index.php?storeID=7679" target="_blank"> * Buy Gift Certificate Now! *</a>
      				<div id="social">
				<a href="https://www.facebook.com/susanspedispa" target="_blank"><img src="/assets/images/fb.png" alt="Find us on Facebook!" /></a>
				<a href="https://plus.google.com/113931798493744965060" target="_blank"><img src="/assets/images/gp.png" alt="Find us on Google Plus!" /></a>
				</div>
