<a href="/">Home</a>
				<a href="/menu">Menu</a>
				<a href="/schedule">Schedule Now</a>
				<a href="/contact">Contact</a>
				<a href="/reviews">Reviews</a>
				<a href="/about">About</a>
				<div id="social">
					<a href="https://www.facebook.com/susanspedispa" target="_blank"><img src="/assets/images/fb.png" alt="Find us on Facebook!" /></a>
					<a href="https://plus.google.com/113931798493744965060" target="_blank"><img src="/assets/images/gp.png" alt="Find us on Google Plus!" /></a>
				</div>