<h1>Reviews</h1><p>
Here are just some of the reviews Susan has received prior to opening Susan's Pedi Spa:<br><br>
5 stars Anonymous Verified customer<br>
<span class="reviewquotes">The best pedicure I have ever had was by Susan. She is meticulous and gentle.</span><br>
June 2013<br><br>
5 stars Kelly P Customer since 2012<br>
<span class="reviewquotes">My pedicure service was excellent! She cleaned the bowl right before the service and she did use antiseptic agent to clean the bowl. Message was great! I am definitely will go back to face and body spa for another pedicure service.</span><br>
May 2013<br><br>

5 stars Emily M Customer since 2013<br>
<span class="reviewquotes">Very nice spa pedicure. Friendly and kind service.</span><br>
May 2013<br><br>

5 stars Doreen E Customer since 2012<br>
<span class="reviewquotes">The Spa Pedicure was very relaxing and I would book it again as well as tell my friends to get one!</span><br>
May 2013<br><br>

5 stars Anonymous Verified customer<br>
<span class="reviewquotes">First spa pedicure at Flag Face and Body - Much better than the pedi I received from Scottsdale Princess. Definitely going back for another!</span><br>
April 2013<br><br>

5 stars Cindy B Customer since 2012<br>
<span class="reviewquotes">Susan always does an excellent job. She is very meticulous and makes sure you are satisfied prior to leaving.</span><br>
April 2013<p>
5 stars Mary D Customer since 2013<br>
<span class="reviewquotes">A lovely, relaxing experience and, as always, a perfect Pedicure with Susan.</span><br>
April 2013<p></p>

5 stars Gretchen S Customer since 2012<br>
<span class="reviewquotes">As usual, my pedicure experience with SUSAN-was wonderful! Relaxing-a respite from my hectic day. AND....i love my "toe color"-so much that I bought it the day day-along with another OPI polish. I am sure I will become a "regular" client of Susan's-I have made my next appontment already.</span><p>

5 stars Sandy W Customer since 2011<br>
<span class="reviewquotes">Susan gave me the best and most enjoyable pedicure I have ever had before. I will definitely be returning to her again.</span><p></p>

5 stars Anonymous Verified customer<br>
<span class="reviewquotes">Susan does a wonderful job with pedicures and gel manicures. She is very a good technician and very detailed oriented. The front staff are very polite and conscientious.</span><p></p>

5 stars Anonymous Verified customer<br>
Susan is an wonderful person and her treatments are top notch.</span><p></p>

5 stars Cindy B Customer since 2012<br>
<span class="reviewquotes">Susan did an excellent job with my pedicure. She is always very pleasant and very gentle.</span><p></p>

5 stars Marika C Customer since 2011<br>
<span class="reviewquotes">Wonderfully girly manicure!! Coming back for wedding nails and toes next month!! Thanks ladies!</span><p></p>

5 stars Mary D Customer since 2013<br>
<span class="reviewquotes">I had a lovely, relaxing pedicure with Sue. As always, my tootsies were smooth, pretty and perfectly polished when she finished!</span><p></p>

5 stars Anonymous Verified customer<br>
<span class="reviewquotes">Susan was great.</span><p></p>

