<h1>Reviews</h1>
<p style="font-weight:bold">
    <a href='https://plus.google.com/+Susanspedispa/about?review=1' target='_blank'>Click Here</a> to submit a review!
</p>
<br/>
<p>
Reviews for Susan's Pedi Spa from Google+:
</p>
<br />
<br />
<div class="customerName">Sara Dechter 03/2015</div><div class="five-star"></div>
<div class="reviewquotes">I had a great Pedicure with Susan and Sheyenne did awesome nail art for me.  I will definitely be coming back.</div>

<div class="customerName">ron paul 03/2015</div><div class="five-star"></div>
<div class="reviewquotes">they do a great job</div>


<div class="customerName">Cindy Beckett 03/2015</div><div class="five-star"></div>
<div class="reviewquotes">Great pedicure! Lasts for over 4 weeks without chipping. Excellent service. I highly recommend this amazing pedi spa.</div>

<div class="customerName">Karly Stevenson86004 03/2015</div><div class="five-star"></div>
<div class="reviewquotes">Awesome service, great pedicure.  Schyenne is great!  Of course I'm sure Susan is spectacular as well.</div>

<div class="customerName">Laurie Carl 02/2015</div><div class="five-star"></div>

<div class="customerName">Laurel Logan 02/2015</div><div class="five-star"></div>
<div class="reviewquotes">Susan's Pedi Spa is hands-down the best pedicure and manicure experience I've ever had.  Susan is thorough, and my nails always look amazing.  The environment is relaxing and cozy and never feels rushed.  My husband and I love the Pedi for Two with Schyenne and Susan.  I could not recommend Susan's more highly!</div>

<div class="customerName">Bea Cooley 02/2015</div><div class="five-star"></div>
<div class="reviewquotes">My feet are smooth and soft, toenails are pretty.  The best part is their cleanliness, use of clean instruments and materials and attention to detail.  A wonderful experience.</div>

<div class="customerName">Kristen Faxlanger 01/2015</div><div class="five-star"></div>
<div class="reviewquotes">I recently had a pedi by Susan...and loved it! It was much needed and was 100% relaxing. She did an excellent job with all the fine details! The chair has a beautiful view of the San Fran peaks, she has coffee or tea for you while there, and the paint job was absolutely perfect. I am definitely planning on going back soon!</div>

<div class="customerName">Trudy Koop 12/2014</div><div class="five-star"></div>
<div class="reviewquotes">Professional, friendly and attentive are just a few adjectives I can use to describe my experience at Susan's. I was especially pleased knowing that the instruments used for my pedicure had been sterilized and designated 'one use only'. The level of cleanliness was outstanding and when I am back visiting that area I will definitely make a point of booking another appointment. Great job!</div>

<div class="customerName">Heather Bell 11/2014</div><div class="five-star"></div>

<div class="customerName">Judy Finney 10/2014</div><div class="five-star"></div>
<div class="reviewquotes">Can not say enough about how clean and professional this experience is.  Also love the massage chair while Susan works her magic.</div>

<div class="customerName">Ken Sweet 10/2014</div><div class="five-star"></div>
<div class="reviewquotes">My experience at Suan's Pedi Spa is always five star.  Her professionalism, attention to detail and the genuine interest she takes in her clients is to be admired.  I have been going to Susan for over a year and would not consider going anywhere else.</div>

<div class="customerName">Elaine Martens 08/2014</div><div class="five-star"></div>
<div class="reviewquotes">It was a wonderful quiet afternoon to be pampered.  Susan was thorough, careful and did not rush, which I really appreciated.  It did feel like a spa experience, but in a home.  I highly recommend Susan---</div>

<div class="customerName">Tamara Riley 07/2014</div><div class="five-star"></div>
<div class="reviewquotes">I was in town visiting a friend and Susan fit me into the schedule for a Manicure and I absolutely love my results. I will be coming here when Im in town again.</div>

<p>
Reviews for Susan's Pedi Spa from Square Customers:
</p>
<br />
<br />
<div class="customerName">Dave. Flagstaff, AZ 03/12/15</div>
<div class="reviewquotes">Schyenne is excellent. Greatest foot massage ever!</div>

<div class="customerName">Amanda. Flagstaff, AZ 03/13/15</div>
<div class="reviewquotes">Best pedicure in town.</div>

<div class="customerName">Norma. Flagstaff, AZ 09/19/14</div>
<div class="reviewquotes">I'm happy to be a customer there! Schyene is a great addition.</div>

<div class="customerName">Sandy. Flagstaff, AZ 10/10/14</div>
<div class="reviewquotes">Always a pleasant experience.</div>

<p>
Reviews for Susan's Pedi Spa from Yelp:
</p>
<br />
<br />

<div class="customerName">C E. Flagstaff, AZ 11/10/2013</div><div class="five-star"></div>
<div class="reviewquotes">Excellent atmosphere very,very clean & sanitary. Quality products! A little on the $$ side but you get what you pay for! I can only go a few times a year! But if I were a professional with a professional income I would be a regular! She's specializes is safe, sanitary pedicures with people who have health issues! She's the only certified pedicurist in town!</div>


<div class="customerName">Maggie Z. Flagstaff, AZ 10/12/2013</div><div class="five-star"></div>
<div class="reviewquotes">My husband and I went to Susan's on a Saturday for pedis. Susan took the time to get to know us and ensure we would have everything we would need. When her other technician failed to show, she was like wonder woman and did both of us simultaneously. Even though she was going back and forth between us, we never felt like we were being rushed or neglected. She also was very careful to keep everything sanitary - she must have gone through an entire box of gloves doing us both with as many times as she changed them. Being in healthcare, the sanitary aspect of pedi places has always freaked me out but Susan's was immaculate. Can't wait to go back with the girls - since it took 2 years to convince the hubby to go!</div>

<div class="customerName">Northern S. Flagstaff, AZ 9/18/2013</div><div class="five-star"></div>
<div class="reviewquotes">Susan is a dedicated, talented nail technician. I am very loyal to her customer service because her work is beautiful and she is meticulous in her process. She answers any questions thoroughly and has a wide range of services as well as affordable weekly add-on specials. When you walk in the door, Susan puts you right at ease, always offering coffee or tea. She is truly a genuinely warm person. I always feel very relaxed and pampered after a visit and my nails look perfect. I highly recommend her services to everyone.</div>


<div class="customerName">Veronica H. Flagstaff, AZ 9/16/2013</div><div class="five-star"></div>
<div class="reviewquotes">Susan is personable, professional and meticulous with her work. I've had several shellac manicures and each time Susan was gentle with gel removal, detailed in the polish, and provided high quality service. The shellac manicure lasted over two weeks and was worth every penny. Susan's Pedi Spa has a warm atmosphere with large windows, natural light and relaxing music.</div>


<div class="customerName">Monica D. Canoga Park, CA 8/24/2013</div><div class="five-star"></div>
<div class="reviewquotes">Detailed, detailed and detailed. I came in with a specific design for my pedicure; french manicure with red polka dots in the clear area-loved her attention for detail, especially after i smudged one of my toes. Her welcoming personality, detail to your needs and intimate, cozy setting  makes for a visit to this business. Great customer service was given and felt by my daughter and I. Be generous in allotting your time for your appointment, nothing quality comes from a rushed job.  I am use to the in and out rushed feeling of most SoCal nail salons. Appointments are a must. Prices are comparative to other salons in area.</div>


<p>
Here are just some of the reviews Susan has received prior to opening Susan's Pedi Spa:
</p>
<br />
<br />

<div class="customerName">Anonymous Verified customer</div><div class="five-star"></div>
<div class="reviewquotes">The best pedicure I have ever had was by Susan. She is meticulous and gentle.</div>


<div class="customerName">Kelly P Customer since 2012</div><div class="five-star"></div>
<div class="reviewquotes">My pedicure service was excellent! She cleaned the bowl right before the service and she did use antiseptic agent to clean the bowl. Message was great! I am definitely will go back to face and body spa for another pedicure service.</div>


<div class="customerName">Emily M Customer since 2013</div><div class="five-star"></div>
<div class="reviewquotes">Very nice spa pedicure. Friendly and kind service.</div>



<div class="customerName">Doreen E Customer since 2012</div><div class="five-star"></div>
<div class="reviewquotes">The Spa Pedicure was very relaxing and I would book it again as well as tell my friends to get one!</div>


<div class="customerName">Anonymous Verified customer</div><div class="five-star"></div>
<div class="reviewquotes">First spa pedicure at Flag Face and Body - Much better than the pedi I received from Scottsdale Princess. Definitely going back for another!</div>


<div class="customerName">Cindy B Customer since 2012</div><div class="five-star"></div>
<div class="reviewquotes">Susan always does an excellent job. She is very meticulous and makes sure you are satisfied prior to leaving.</div>


<div class="customerName">Mary D Customer since 2013</div><div class="five-star"></div>
<div class="reviewquotes">A lovely, relaxing experience and, as always, a perfect Pedicure with Susan.</div>


<div class="customerName">Gretchen S Customer since 2012</div><div class="five-star"></div>
<div class="reviewquotes">As usual, my pedicure experience with SUSAN-was wonderful! Relaxing-a respite from my hectic day. AND....i love my "toe color"-so much that I bought it the day day-along with another OPI polish. I am sure I will become a "regular" client of Susan's-I have made my next appontment already.</div>


<div class="customerName">Sandy W Customer since 2011</div><div class="five-star"></div>
<div class="reviewquotes">Susan gave me the best and most enjoyable pedicure I have ever had before. I will definitely be returning to her again.</div>


<div class="customerName">Anonymous Verified customer</div><div class="five-star"></div>
<div class="reviewquotes">Susan does a wonderful job with pedicures and gel manicures. She is very a good technician and very detailed oriented. The front staff are very polite and conscientious.</div>


<div class="customerName">Anonymous Verified customer</div><div class="five-star"></div>
<div class="reviewquotes">Susan is an wonderful person and her treatments are top notch.</div>


<div class="customerName">Cindy B Customer since 2012</div><div class="five-star"></div>
<div class="reviewquotes">Susan did an excellent job with my pedicure. She is always very pleasant and very gentle.</div>


<div class="customerName">Marika C Customer since 2011</div><div class="five-star"></div>
<div class="reviewquotes">Wonderfully girly manicure!! Coming back for wedding nails and toes next month!! Thanks ladies!</div>


<div class="customerName">Mary D Customer since 2013</div><div class="five-star"></div>
<div class="reviewquotes">I had a lovely, relaxing pedicure with Sue. As always, my tootsies were smooth, pretty and perfectly polished when she finished!</div>


<div class="customerName">Anonymous Verified customer</div><div class="five-star"></div>
<div class="reviewquotes">Susan was great.</div>
