<h1>Reviews</h1>
<p>
Here are just some of the reviews Susan has received prior to opening Susan's Pedi Spa:
</p>
<br />
<br />

<div class="customerName">Anonymous Verified customer</div><div class="five-star"></div>
<div class="reviewquotes">The best pedicure I have ever had was by Susan. She is meticulous and gentle.</div>


<div class="customerName">Kelly P Customer since 2012</div><div class="five-star"></div>
<div class="reviewquotes">My pedicure service was excellent! She cleaned the bowl right before the service and she did use antiseptic agent to clean the bowl. Message was great! I am definitely will go back to face and body spa for another pedicure service.</div>


<div class="customerName">Emily M Customer since 2013</div><div class="five-star"></div>
<div class="reviewquotes">Very nice spa pedicure. Friendly and kind service.</div>



<div class="customerName">Doreen E Customer since 2012</div><div class="five-star"></div>
<div class="reviewquotes">The Spa Pedicure was very relaxing and I would book it again as well as tell my friends to get one!</div>


<div class="customerName">Anonymous Verified customer</div><div class="five-star"></div>
<div class="reviewquotes">First spa pedicure at Flag Face and Body - Much better than the pedi I received from Scottsdale Princess. Definitely going back for another!</div>


<div class="customerName">Cindy B Customer since 2012</div><div class="five-star"></div> 	
<div class="reviewquotes">Susan always does an excellent job. She is very meticulous and makes sure you are satisfied prior to leaving.</div>


<div class="customerName">Mary D Customer since 2013</div><div class="five-star"></div>
<div class="reviewquotes">A lovely, relaxing experience and, as always, a perfect Pedicure with Susan.</div>


<div class="customerName">Gretchen S Customer since 2012</div><div class="five-star"></div>
<div class="reviewquotes">As usual, my pedicure experience with SUSAN-was wonderful! Relaxing-a respite from my hectic day. AND....i love my "toe color"-so much that I bought it the day day-along with another OPI polish. I am sure I will become a "regular" client of Susan's-I have made my next appontment already.</div>


<div class="customerName">Sandy W Customer since 2011</div><div class="five-star"></div>
<div class="reviewquotes">Susan gave me the best and most enjoyable pedicure I have ever had before. I will definitely be returning to her again.</div>


<div class="customerName">Anonymous Verified customer</div><div class="five-star"></div>
<div class="reviewquotes">Susan does a wonderful job with pedicures and gel manicures. She is very a good technician and very detailed oriented. The front staff are very polite and conscientious.</div>


<div class="customerName">Anonymous Verified customer</div><div class="five-star"></div>
<div class="reviewquotes">Susan is an wonderful person and her treatments are top notch.</div>


<div class="customerName">Cindy B Customer since 2012</div><div class="five-star"></div>
<div class="reviewquotes">Susan did an excellent job with my pedicure. She is always very pleasant and very gentle.</div>


<div class="customerName">Marika C Customer since 2011</div><div class="five-star"></div>
<div class="reviewquotes">Wonderfully girly manicure!! Coming back for wedding nails and toes next month!! Thanks ladies!</div>


<div class="customerName">Mary D Customer since 2013</div><div class="five-star"></div>
<div class="reviewquotes">I had a lovely, relaxing pedicure with Sue. As always, my tootsies were smooth, pretty and perfectly polished when she finished!</div>


<div class="customerName">Anonymous Verified customer</div><div class="five-star"></div>
<div class="reviewquotes">Susan was great.</div>

