<div id="slideholder">
<div id="slideshow"></div>
<div id="next"></div>
<div id="prev"></div>
</div>

<div style="display:none">
	{% for img in site.data.slideshow %}
	<img id="img-{{ img }}" src="/assets/images/slideshow/{{ img }}">
	{% endfor %}
</div>

<script>
	var userClick = false;
	var slideshow = vp.viewPager(document.getElementById("slideshow"));
	{% for img in site.data.slideshow %}
	slideshow.addPage(document.getElementById("img-{{ img }}"));
	{% endfor %}
	document.getElementById("next").onclick = function() { slideshow.next(); userClick = true; }
	document.getElementById("prev").onclick = function() { slideshow.prev(); userClick = true; }

	function autoScroll(oldTime) {
		var delay = 2000;
		var currentTime = (new Date()).getTime();
		if(userClick) {
			userClick = false;
			window.setTimeout(function(){ autoScroll(currentTime)}, delay)
		} else if(currentTime - oldTime > 10000) {
			slideshow.next();
			window.setTimeout(function(){ autoScroll(currentTime)}, delay)
		} else
			window.setTimeout(function(){ autoScroll(oldTime)}, delay)
	}
	autoScroll((new Date()).getTime());
</script>

