@import url(http://fonts.googleapis.com/css?family=Great+Vibes);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);


/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

p {
    margin: 10px 0px;
}

html, body {
	font-family: "Open Sans", Arial, sans-serif;
	font-style: normal;
	background: rgb(87, 20, 42);
}
#page {

	background: url('/assets/images/plaster.png');
}

h1, h2, h3 {
	padding: 15px 0px;
	font-family: "Great Vibes", cursive;
	color: rgb(87, 20, 42);
}

h3 {
	font-size: 30px;
}

h1 {
	font-size: 40px;
}

a {
	color: rgb(87, 20, 42);
	text-decoration: none;
}

a:visited {
	color: rgb(87, 20, 42);
}



header {
	text-align: center;
	padding: 10px 0px;
}

#centerColumn {
	position: relative;
	width: 900px;
	background: url('/assets/images/frosted.png') center;
	margin: 0px auto;
	z-index: 1;
	margin-top: -200px;
}

#name {
	font-size: 70px;
	line-height: 100px;
	text-align: center;
	padding: 0px;
	height:100px;
}

nav, #band {

	width: 100%;
	height: 40px;
	background: rgb(87, 20, 42);
}

nav {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 0px 10px;
	margin: 0px -10px;
}

nav a, nav a:visited {
	margin-left: 20px;
	line-height: 35px;
	font-size: 18px;
	color: white;
}

nav #social {
	float: right;
	margin-right: 12px;
	margin-top: 4px;
}
nav #social img {
	border: none;
}


footer a, footer a:visited {
	margin-left: 10px;
	line-height: 35px;
	font-size: 18px;
	color: white;
}

footer #social {
	float: right;
	margin-right: 10px;
	margin-top: 4px;
}
footer #social img {
	border: none;
}


#band {
	position: relative;
	margin-top: 160px;
	z-index: 0;
}


#location {
	float: right;
}

article {
	padding: 15px;
}


#bottom-flair {
	width: 100%;
	position: absolute;
	height: 283px;
	background: url('/assets/grass.png') center;
	z-index: 0;
}

footer {
	background: url('/assets/frostedGrass.png') center;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	height: 283px;
	margin-bottom: -283px;
	position: relative;
	z-index: 1;
}

#footerStrip {
	background: rgb(87, 20, 42);
	position: absolute;
	bottom: 0px;
	width: 900px;
	margin-left: -10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 0px 10px;
	color: white;
}

.halfColumn {
	width: 430px;
	float: left;
}

.treatment {
	margin-bottom: 15px;
}

.fs-controls {
    text-align: center !important;
}

.fs-controls input{
    font-size: 20px;
    padding: 5px;
}

#fs-main {
    font-family: "Open Sans", Arial, sans-serif !important;
}

.treatmentName, #fs-main li a {
	font-weight: bold;
	margin-right: 15px;
    text-decoration: underline;
}

#fs-main th {
    max-width: 300px;
}

.fs-booking-fields th {
    font-weight: normal !important;
}

#fs-main td {
    text-align: left;
}

.treatmentDescription, .MsoNormal, .fs-option-summary {
	font-style: italic !important;
    margin-bottom: 10px;
}

.new-section:nth-child(3), .new-section:nth-child(4){
    float: left;
    width: 430px;
}

#fs-main > h2 {
    clear: both;
    font-size: 40px;
}

.fs-product-choices > ul > li {
    width: 430px;
    float: left;
}

.new-section > ul > .new-section {
    width: 100%;
}

.fs-openings, .fs-openings-month {
    background: white;
}

.fs-embed .fs-instructions {
  font-weight: bold !important;
  font-size: 1.2em !important;
  color: red;
  text-align: center;
}

#slideshow {
	position: relative;
	width: 100%;
	height: 600px;
}


#slideholder {
	border-radius: 10px;
	overflow: hidden;
}

#next, #prev {
	width: 150px;
	height: 600px;
	position: absolute;
	cursor:pointer;
	margin-top: -600px;

}
#next {
	right: 15px;

}

#prev {
	left: 15px;
}

.five-star {
	width: 125px;
	height: 26px;
	background: url("/assets/images/star.png");
	float: left;
}

.customerName {
	float: left;
	margin-right: 5px;
	font-weight: bold;
}

.reviewquotes {
	clear: both;
	margin-bottom: 30px;
}
