<!DOCTYPE html>
<html>
    <head>
    	
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/assets/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/assets/css/main.css">

    </head>
    <body>
    	<div id="band"></div>
		<section id="centerColumn">
			<header>
				<h1 id="name"><a href="/">Susan's Pedi Spa</a></h1>
				<b>(928) 362-0525 &bull; 322 N. Beaver St., Flagstaff, AZ 86001</b> 
			</header>
			<nav>
				<a href="/">Home</a>
				<a href="/menu">Menu</a>
				<a href="/schedule">Schedule Now</a>
				<a href="/contact">Contact</a>
				<a href="/reviews">Reviews</a>
				<a href="/about">About</a>
				<div id="social">
					<a href="https://www.facebook.com/susanspedispa" target="_blank"><img src="/assets/images/fb.png" alt="Find us on Facebook!" /></a>
					<a href="https://plus.google.com/103319507476623802624" target="_blank"><img src="/assets/images/gp.png" alt="Find us on Google Plus!" /></a>
				</div>
			</nav>
			{{content}}
			<footer>
				<article>
					this is the footer
				</article>
			</footer>
		</section>
	</body>
</html>
